<div class="page-wrapper">
    <div class="content-box">
  
      <div class="icon-circle">
        <span class="check">✔</span>
      </div>
  
      <h1>Your payment has been received</h1>
  
      <p class="subtitle">
        Thank you for your payment. Your plan has been upgraded to premium! <br />
        Please check your email for a payment confirmation & invoice.
      </p>
  
      <button (click)="goToDashboard()" class="dashboard-btn">
        Go to your dashboard
      </button>
  
    </div>
  </div>
  